# NOTE - any variables defined here will be available to firebase functions, or to CLI command.
# Variable names should not be prefixed by FIREBASE_ or any other reserved keywords:
# https://firebase.google.com/docs/functions/config-env?gen=2nd#reserved-names


# TODO - not really needed running locally
# PROJECT_ID=test