# NOTE - any variables defined here will be available to firebase functions, or to CLI command.
# Variable names should not be prefixed by FIREBASE_ or any other reserved keywords:
# https://firebase.google.com/docs/functions/config-env?gen=2nd#reserved-names

# Basic auth token used to verify requests to shared-data-update function.
# Should be included with "Bearer" prefix on requests. Recommend at least 32 characters
SHARED_DATA_UPDATE_TOKEN=example_access_token_1234567890